.public-header
	height: 110px
	.header-logo
		float:left
		margin-top:40px
		a
			width:182px
			height:54px
			background:url("../image/logo.png")
	.header-nav
		float:right
		margin-top:44px
		font-size:14px
		.item
			float:left
			margin-left:50px
			a
				color:#3b3b3b
			a:hover
				text-decoration:underline
						
.public-container
	position: relative
	margin: 0 auto
	width: 1100px

.public-footer
	padding-top:100px
	height: 218px
	background: #3b3b3b
	.footer-col
		width:230px
		float:left
		margin-right:60px
		font-size:16px
		color:#fff
		line-height:1.8
		&:last-child
			margin-right:0
		.footer-logo
			margin-top:-18px
			width:182px
			height:55px
			background:url("../image/footer-logo.png")
			

.index-banner
	position:relative
	.index-banner-bg
		height:570px
		overflow:hidden
		img
			margin:0 auto
	.index-banner-text
		position:absolute
		top:200px
		left:50%
		margin-left:-388px
		.text-logo
			width:776px
			height:117px
			background:url("../image/text-logo.png")no-repeat
		.text-info
			margin-top:17px
			text-align:center
			color:#fff
			.line-left
				display:inline-block
				width:40px
				border-top:1px solid #fff
				margin-right:26px
				vertical-align:middle
			.line-right
				display:inline-block
				width:40px
				border-top:1px solid #fff
				margin-left:26px
				vertical-align:middle


.index-menu
	position:relative
	border-top:4px solid #f34949
	.menu-tips
		position:absolute
		left:50%;
		margin-left:-78px
		top:0
		width:156px
		height:75px
		text-align:center
		line-height:65px
		background:#f34949
		color:#fff
		&:after
			position:absolute
			content:""
			left:0
			bottom:0
			width:0
			height:0
			border-left:78px solid transparent
			border-right:78px solid transparent
			border-bottom:10px solid #fff
	.menu-list
		margin-top:150px
		overflow:hidden
		.menu-control
			width:1160px
			.menu-item
				float:left
				width:520px
				margin-right:60px
				margin-bottom:56px
				.title
					float:left
					width:230px
					overflow:hidden
					white-space:nowrap
					text-overflow:ellipsis
					h4
						color:#555555
					.comment
						margin-top:4px
						color:#b7b7b7
						font-size:12px
				.line
					float:left
					margin-top:10px
					width:192px
					border-top:1px solid #e3e1e1
				.price
					float:right
	.menu-more-btn
		margin:0 auto
		width:114px
		height:32px
		padding-left:16px
		border:1px solid #d7d5d5
		font-size:14px
		line-height:32px
		color:#b7b7b7
		.btn-line
			margin-left:10px
		.icon
			display:inline-block
			width:11px
			height:7px
			margin-left:10px
			background:url("../image/menu-btn.png")
			
			
	
.index-pannel
	margin-top:200px
	margin-bottom:200px
	.index-pannel-header
		h3
			float:left
			font-size:20px
			color:#3b3b3b
			font-weight:400
			margin-right:48px
		.line
			float:left
			margin-top:7px
			width:200px
			border-top:1px solid #e5e3e3
		.btn-group
			font-size:0
			float:right
			.btn
				display:inline-block
				// 行内元素有默认的4px的间距
				margin-left:11px
				width:9px 
				height:9px
				background:#dedede
				border-radius:50%
				&.active
					background:#9b9b9b
		
	.index-pannel-body
		margin-top:75px
	.index-food-list
		overflow:hidden
		ul
			width:1160px
			.food-list-item
				float:left
				width:230px
				margin-right:60px
				.food-list-image
					width:231px
					height:202px
					margin-bottom:30px
				.name
					color:#555
					margin-bottom:10px
					.price
						float:right
				.star-bar
					font-size:0
					.star
						display:inline-block
						width:12px
						height:13px
						margin-right:15px
						margin-right:5px
						background-image:url("../image/star-all.png")
						background-repeat:no-repeat
					.nostar
						background-position:0 -13px
	.index-pics
		height:380px
		overflow:hidden
		.pic-col
			float:left
			.pic-col-m
				width:353px
			.pic-col-s
				width:287px
			.pic-col-l
				width:460px