.public-header
	height: 110px
	.header-logo
		float:left
		margin-top:40px
		a
			width:182px
			height:54px
			background:url("../image/logo.png")
	.header-nav
		float:right
		margin-top:44px
		font-size:14px
		.item
			float:left
			margin-left:50px
			a
				color:#3b3b3b
			a:hover
				text-decoration:underline
						
.public-container
	position: relative
	margin: 0 auto
	width: 1100px

.public-footer
	padding-top:100px
	height: 218px
	background: #3b3b3b
	.footer-col
		width:230px
		float:left
		margin-right:60px
		font-size:16px
		color:#fff
		line-height:1.8
		&:last-child
			margin-right:0
		.footer-logo
			margin-top:-18px
			width:182px
			height:55px
			background:url("../image/footer-logo.png")
			

.index-banner
	position:relative
	background:#b3b3b3
	.index-banner-bg
		height:570px
		overflow:hidden
		img
			margin:0 auto
	.index-banner-text
		position:absolute
		top:200px
		left:50%
		margin-left:-388px
		.text-logo
			width:776px
			height:117px
			background:url("../image/text-logo.png")no-repeat
		.text-info
			margin-top:17px
			text-align:center
			color:#fff
			.line-left
				display:inline-block
				width:40px
				border-top:1px solid #fff
				margin-right:26px
				vertical-align:middle
			.line-right
				display:inline-block
				width:40px
				border-top:1px solid #fff
				margin-left:26px
				vertical-align:middle

